<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GTill.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GTill.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GTill.Properties.Settings>
            <setting name="cFrmForeColour" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="sRepDataLoc" serializeAs="String">
                <value>REPDATA.DBF</value>
            </setting>
            <setting name="sTDataLoc" serializeAs="String">
                <value>TDATA.DBF</value>
            </setting>
            <setting name="sTHdrLoc" serializeAs="String">
                <value>THDR.DBF</value>
            </setting>
            <setting name="sAccStatLoc" serializeAs="String">
                <value>ACCSTAT.DBF</value>
            </setting>
            <setting name="sBranchLoc" serializeAs="String">
                <value>BRANCH.DBF</value>
            </setting>
            <setting name="sCustRecLoc" serializeAs="String">
                <value>CUSTREC.DBF</value>
            </setting>
            <setting name="sDetailsLoc" serializeAs="String">
                <value>DETAILS.DBF</value>
            </setting>
            <setting name="sPresetsLoc" serializeAs="String">
                <value>PRESETS.DBF</value>
            </setting>
            <setting name="sStaffLoc" serializeAs="String">
                <value>STAFF.DBF</value>
            </setting>
            <setting name="sStkLevelLoc" serializeAs="String">
                <value>STKLEVEL.DBF</value>
            </setting>
            <setting name="sTillCatLoc" serializeAs="String">
                <value>TILLCAT.DBF</value>
            </setting>
            <setting name="sStockLoc" serializeAs="String">
                <value>STOCK.DBF</value>
            </setting>
            <setting name="sINGNGDir" serializeAs="String">
                <value>..\INGNG</value>
            </setting>
            <setting name="sOUTGNGDir" serializeAs="String">
                <value>..\OUTGNG</value>
            </setting>
            <setting name="cFrmBackColour" serializeAs="String">
                <value>Black</value>
            </setting>
        </GTill.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <GTill.Properties.Settings>
            <setting name="sFontName" serializeAs="String">
                <value>Franklin Gothic Medium</value>
            </setting>
            <setting name="sPrinterOutputPort" serializeAs="String">
                <value>LPT1</value>
            </setting>
            <setting name="fMainScreenFontSize" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="bUseVirtualPrinter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bAutoLowercaseItems" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nSpacesBetweenReceipts" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="nPriceLabelOffset" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="bUseFloppyCashup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nPrinterCharWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="nLinesAfterReigsterReport" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="bAutoSwapBootFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bUsingDosInsteadOfFloppy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sFloppyLocation" serializeAs="String">
                <value>C:</value>
            </setting>
            <setting name="sBackupLocation" serializeAs="String">
                <value>F:\till_backup</value>
            </setting>
            <setting name="bDoBackups" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bAllowStats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sNoStatsAbout" serializeAs="String">
                <value />
            </setting>
            <setting name="bWaitForShutDown" serializeAs="String">
                <value>False</value>
            </setting>
        </GTill.Properties.Settings>
    </userSettings>
</configuration>